{% extends "base.html" %}

{% load i18n %}

{% load allauth %}

<title>{% block title %}{% trans "Change Password" %}{% endblock %}</title>


{% block contenido %}

    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            {% element h1 %}
                {% trans "Change Password" %}
            {% endelement %}
            {% element p %}
                {% trans 'Your password is now changed.' %}
            {% endelement %}
        </div>
    </div>
    
{% endblock contenido %}
