{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="container-lg mt-2 justify-content-around">
    <h1>Este es el home</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem porro quam recusandae iste dolores quis corporis hic beatae deserunt perferendis ad cum nesciunt, corrupti at repudiandae doloremque architecto. Assumenda, atque.
    Accusantium voluptas saepe quibusdam eum! Dolor cum consectetur expedita, saepe optio sequi. Ipsa, magni asperiores ducimus vel sint nulla distinctio nihil tempora inventore recusandae? Quas, illo. Alias debitis doloremque placeat!
    Quos corporis hic debitis eos incidunt temporibus labore voluptas tempore enim quisquam quibusdam quam maiores perspiciatis tenetur iusto, accusamus voluptatum cupiditate? Beatae laborum delectus dignissimos ea adipisci, consectetur dolore voluptas?
    
{% endblock %}