{% extends 'base.html' %}
{% load static %}
{% block title %}
    Perfil de {{ user.username }}
{% endblock title %}

{% block contenido %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Perfil de Usuario</h3>
                </div>
                <div class="card-body">
                    <div class="text-center mb-4">
                        <!-- Podrías poner una imagen de perfil aquí -->
                        <img src="{{ user.imagen.url }}" class="rounded-circle border border-primary p-1" alt="Avatar">
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Nombre de Usuario:</strong> {{ user.username }}
                        </li>
                        <li class="list-group-item">
                            <strong>Email:</strong> {{ user.email }}
                        </li>
                        <li class="list-group-item">
                            <strong>Fecha de Registro:</strong> {{ user.date_joined|date:"d M Y" }}
                        </li>
                    </ul>
                </div>
            </div>
            <a href="{% url 'index' %}" class="btn btn-secondary mt-3">Volver a Inicio</a>
        </div>
    </div>
</div>
{% endblock contenido %}